{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'imghost/style.css' %}" />
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}NoticeBoard{% endblock %}</title>
</head>
<body>
{% block images %}
<div id="container">
<div id="inner-container">
<div id="footer-container"><footer></footer></div>
{% if images %}
    <ul>
        {% for image in images %}
	<div class="notice">
    <div class="thumb-container"> 
        <li><a href="{{ image.image.url }}">
            <img src="{{ image.image.url }}">
            </a>
        </li>
    </div>
	</div>
        {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}
</div>
</div>
{% endblock %}

</body>

</html>
