<html>
<head>
<meta charset="utf-8">
<title>{% block title %}NoticeBoard{% endblock %}</title>
<style>
body{
background-image: url("media/bg/bg.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}
img{
border-radius: 10px 10px 10px 10px;
-moz-box-shadow:    0px 0px 5px 0px #888;
-webkit-box-shadow: 0px 0px 5px 0px #888;
box-shadow:         0px 0px 5px 0px #888;
}
h1{
font-family:sans;
}
</style>
</head>
<body>
{% block images %}
<div style="margin-top:50px;text-align:left;">
<header style="margin-left:50px;"><h1>Notices</h1></header>
{% if images %}
    <ul>
        {% for image in images %} 
        	<div style="width:400px;height:300px;overflow:hidden;" >
        	<li><a href="{{ image.image.url }}">
            <img src="{{ image.image.url }}" alt="{{ image..name }}" style="max-width:100%; max-height:100%;margin:auto; display:block;">
            </a></li>
            </div>
        {% endfor %}
	</ul>
{% else %}
    <p>No documents.</p>
{% endif %}
<footer></footer>
</div>
{% endblock %}
</body>

</html>
