{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'imghost/style.css' %}" />
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}NoticeBoard{% endblock %}</title>
</head>
<body>
{% block images %}
<div id="container">
<div id="inner-container">
<div id="footer-container"><footer></footer></div>
<div id="sort-bar-container">
<div id="sort-form-container">
<form id="sort-bar">
    <button type="submit" name="sort" value="name">Name</button>
    <button type="submit" name="sort" value="pb_date">Publish Date</button>
    <button type="submit" name="sort" value="ev_date">Event Date</button>
    <input type="hidden" name="datefilter" value="{{datefilter}}"></input>
    <input type="hidden" name="prevsort" value="{{prevsort}}"></input>
</form>
</div>
</div>
<br>
{% if images %}
    <ul>
        {% for image in images %}
	<div class="notice">
    <div class="thumb-container"> 
        <li><a href="{{ image.image.url }}">
            <img src="{{ image.image.url }}">
            </a>
        </li>
    </div>
    <div class="notice-info">
    <h3>{{image.name}}</h3>
    <h3>Date Published: {{image.date_published}}</h3>
    <h3>Event Date: {{image.date_event}}</h3>
    </div>
    <div class="notice-desc">
    <h4>{{image.description}}</h4>
	</div>
    </div>
        {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}
</div>
</div>
<div id="filters-container">
<form>
<form id="sort-bar">
    <button type="submit" name="datefilter" value="today">Today</button>
    <button type="submit" name="datefilter" value="thisweek">This Week</button>
    <button type="submit" name="datefilter" value="thismonth">This Month</button>
    <button type="submit" name="datefilter" value="all">Show All</button>
    <input type="hidden" name="sort" value="{{sorttype}}"></input>
</form>
</form>
</div>
</div>
{% endblock %}

</body>

</html>
